In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

df = pd.read_csv('https://github.com/MyungKyuYi/AI-class/raw/refs/heads/main/boston.csv')

# 결측치 확인
df.isnull().sum()

Unnamed: 0    0
MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [17]:
X = df.drop('PRICE',axis=1)
y = df['PRICE']

In [18]:
X

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...,...
20635,20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [19]:
y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: PRICE, Length: 20640, dtype: float64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle = True, random_state=12)
print("학습 데이터 개수:", len(X_train))
print("테스트 데이터 개수:", len(X_test))

학습 데이터 개수: 16512
테스트 데이터 개수: 4128

In [21]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(16512, 9) (4128, 9)
(16512,) (4128,)

In [22]:
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)
dt_pred = dt_model.predict(X_test)

# 평균제곱근오차(MSE) 계산
# sklearn 라이브러리
print('평균제곱근오차', mean_squared_error(dt_pred, y_test))

# numpy
def mse_np(actual, pred):
    return np.mean((np.array(actual) - np.array(pred)) ** 2)
print('평균제곱근오차', mse_np(dt_pred, y_test))

# for
def mse(actual, pred):
    sum_square_error = sum((a - p) ** 2 for a, p in zip(actual, pred))
    mean_squared_error = sum_square_error / len(actual)
    return mean_squared_error
print('평균제곱근오차', mse(dt_pred, y_test))

평균제곱근오차 0.4486201669954941
평균제곱근오차 0.4486201669954941
평균제곱근오차 0.4486201669954939

In [23]:
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
print('평균제곱근오차', mean_squared_error(rf_pred, y_test))

평균제곱근오차 0.23338974792639694

In [ ]:
svr_model = SVR(kernel='linear')
svr_model.fit(X_train, y_train)
svr_pred = svr_model.predict(X_test)
print('평균제곱근오차', mean_squared_error(svr_pred, y_test))

평균제곱근오차 0.5295742502152286

In [25]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)
print('평균제곱근오차', mean_squared_error(lr_pred, y_test))

평균제곱근오차 0.525308385597142